body {
  width: 100%;
  height: 100%;
  background: url(../images/websitebg.png);
  background-position: center;
  background-attachment: fixed;
  webkit-background-size: cover;
  background-size: cover;
  line-height: 2em;
}

.main-logo {
  max-height: 25vh;
  width: auto;
  display: block;
  margin: 0 auto;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-weight: mp-get(("reg": 400, "med": 500, "bold": 900), med);
  font-size: 44px;
  padding-top: 10vh;
  color: #d4c956;
  margin-bottom: 20px;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: mp-get(("reg": 400, "med": 500, "bold": 900), med);
  font-size: 38px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

.buy {
  text-decoration: none;
}

.chart-btn {
  color: #d4c956 !important;
  border-color: #d4c956 !important;
}

.btn {
  font-family: "Blinker", sans-serif;
}

.chart-btn:hover {
  color: black !important;
  background-color: #d4c956;
}

p,
li {
  font-family: "Blinker", sans-serif;
  font-size: 20px;
  color: white;
  list-style: circle;
}

h3 {
  font-family: "Oswald", sans-serif;
  color: #d4c956;
  font-size: 1.85rem;
}

p {
  margin: 0;
}

.header-title {
  padding-left: 2%;
}

strong {
  color: #5c6064;
}

.main {
  max-width: 1128px;
  padding-left: 24px;
  padding-right: 24px;
}

.presale,
.nft,
.follow {
  padding-top: 14vh;
  max-width: 1128px;
  padding-left: 24px;
  padding-right: 24px;
}

.charts {
  max-width: 1128px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 9vh;
  padding-bottom: 10vh;
}

.roadmap {
  padding-top: 14vh;
  width: 65%;
  margin: 0 auto;
}

.chart1, .chart2 {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.charts-p {
  padding-top: 5vh;
}

.charts-bottom {
  padding-bottom: 14vh;
}

.nft {
  text-align: center;
}

hr {
  color: #d4c956;
  width: 80%;
  margin: 0 auto;
}

.follow {
  color: #474644;
  font-family: "Oswald", sans-serif;
}

.follow-box {
  background: #474644;
  padding: 64px 32px;
}

a,
span {
  color: white;
}

.nft-span {
  color: #56595d;
}

.token {
  overflow-wrap: anywhere;
  font-size: 20px;
}

.links {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.icons {
  color: #d4c956;
  -webkit-transition: ease-in-out 300ms;
  transition: ease-in-out 300ms;
}

.icons:hover {
  color: #0b59ca;
}

.button {
  padding: 15px 40px;
  margin-right: 10px;
  margin-top: 15px;
}

.fund-dist, .presale-target {
  padding-top: 5vh;
}

.animatedParent {
  overflow: hidden;
}

@media screen and (max-width: 588px) {
  .main-logo {
    margin: 0 auto;
  }
  .logo-top {
    max-height: 40vh;
    max-width: 100%;
  }
  h1 {
    padding-top: 2vh;
  }
  .links {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .charts p {
    padding-top: 0vh !important;
  }
  .header-title,
  .presale,
  .charts, .charts-bottom,
  .nft,
  .follow {
    text-align: center;
  }
  .chart1, .chart2 {
    padding-top: 8px;
  }
  .roadmap {
    width: 100%;
  }
  .follow h3 {
    padding-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */