$primary-font: "Heebo", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$font-weight: (
  "reg": 400,
  "med": 500,
  "bold": 900,
);
// $topDark: #cecece;
// $topLight: #1d1d1d;
$logoYellow: #d4c956;
$logoDark: #474644;
$sectionGap: 14vh;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@function weight($weight-name) {
  @return mp-get($font-weight, $weight-name);
}

body {
  width: 100%;
  height: 100%;

  // background: url(./images/videoblocks-blue-business-background-2_h3cvzluwb_thumbnail-full01.png); *** NEEDS TO CHANGE ***

  background-color: black;

  // filter: grayscale(20%);
  line-height: 2em;
}

.main-logo {
  max-height: 25vh;
  width: auto;
  display: block;
  margin: 0 auto;
}

h1 {
  font-family: $primary-font;
  font-weight: weight(med);
  // @include flexCenter;
  font-size: 44px;
  padding-top: 10vh;
  color: $logoYellow;
  margin-bottom: 20px;
}

h2 {
  font-family: $primary-font;
  font-weight: weight(med);
  font-size: 38px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 16px;
}

.buy {
  text-decoration: none;
}

.chart-btn {
  color: $logoYellow !important;
  border-color: $logoYellow !important;
}

.chart-btn:hover {
  color: black !important;
  background-color: $logoYellow;
}

p,
li {
  font-family: $secondary-font;
  font-size: 20px;
  color: white;
  list-style: circle;
}

h3 {
  color: $logoYellow;
  font-size: 1.85rem;
}

p {
  margin: 0
}

.header-title {
  padding-left: 2%;
}

strong {
  $font-weight: "bold";
  color: #5c6064;
}

.main {
  max-width: 1128px;
  padding-left: 24px;
  padding-right: 24px;
}

.presale,
.nft,
.follow {
  padding-top: $sectionGap;
  max-width: 1128px;
  padding-left: 24px;
  padding-right: 24px;
}

.charts {
  max-width: 1128px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 9vh;
  padding-bottom: 10vh;
}

.roadmap {
  // padding-left: 24px;
  // padding-right: 24px;
  padding-top: $sectionGap;
  width: 65%;
  margin: 0 auto;
}


.chart1, .chart2 {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.charts-p {
  padding-top: 5vh;
}


.charts-bottom {
  padding-bottom: $sectionGap;
  // animation-duration: 3s; /* don't forget to set a duration! */
}

.nft {
  text-align: center;
  // animation-duration: 8s;
}

hr {
  color: $logoYellow;
  width: 80%;
  margin: 0 auto;
  // margin-top: $sectionGap;
}

.follow {
  color: $logoDark;
}

.follow-box {
  background: #474644;
  padding: 64px 32px;
}

a,
span {
  color: white;
}

.nft-span {
  color: #56595d;
}

.token {
  overflow-wrap: anywhere;
  font-size: 20px;
}

.links {
  padding-top: 80px;
  display: flex;
  justify-content: space-evenly;
}

.icons {
  color: $logoYellow;
  transition: ease-in-out 300ms;
}

.icons:hover {
  color: #0b59ca;
}

.button {
  font: $primary-font !important;
  padding: 15px 40px;
  margin-right: 10px;
  margin-top: 15px;
}

.fund-dist, .presale-target {
  padding-top: 5vh;
}

.animatedParent {
  overflow: hidden;
}

@media screen and (max-width: 588px) {
  .main-logo {
    margin: 0 auto;
  }

  .logo-top {
    max-height: 40vh;
    max-width: 100%;
  }

  h1 {
    padding-top: 2vh;
  }

  .links {
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
  }

  .charts p {
    padding-top: 0vh !important;
  }

  .header-title,
  .presale,
  .charts, .charts-bottom,
  .nft,
  .follow {
    text-align: center;
  }

  .chart1, .chart2 {
    padding-top: 8px;
  }

  .roadmap {
    width: 100%;
  }

  .follow h3 {
    padding-bottom: 10px;
  }


}